.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  text-shadow: 5px 1px 5px;
  transform: rotateX(45deg);
}

.site-layout .site-layout-background {
  background: #fff;
}

.logoutMenu {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 999;
}
