.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    color: gray;
  }
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .footer {
    background-color: #ddd;
  }
}
